.recipesBackground {
  background-color: whitesmoke;
}

.buttonContainer {
  align-items: center;
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 10px 0 30px;
  padding: 0 10px;
}

.buttonCategory, .removeFilter {
  background-color: #febcad;
  border: 0;
  border-radius: 10px;
  height: 50px;
  margin-top: 10px;
}

.containerRecipes a {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  justify-content: space-between;
  margin: 15px 0 60px;
  padding: 0 10px;
}

.imgCardRecipes {
  border-radius: 15px;
  width: 370px;
}
