/* #F15B5D
#febcad
#FEBAAD */

.loginComponent {
  align-items: center;
  background: no-repeat center/100% url('../images/ideia_logo.jpg');
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.boxContent {
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(245, 245, 245, 0.17);
  border: 1px solid rgba(245, 245, 245, 0.3);
  border-radius: 15%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 300px;
}

.loginInput, .loginBtn {
  border: 0;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  width: 75%;

}

.loginBtn:enabled {
  border: 0;
}

.logoIMG {
  border-radius: 15px;
  width: 70%;
}
