.recomendation {
  display: inline-flex;
  margin-bottom: 2em;
  overflow-y: auto;
  width: 100%;
}

.recomendation img, .recomendation p {
  padding: 0 1em;
  width: 11em;
}

.header-recipe-photo {
  width: 100%;
}

.btnStartRecipe {
  bottom: 0;
  position: fixed;
  text-align: center;
}
